log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.openpublishing.buildcore.ps1
/.vs/v-godu-azure-aks-docs/FileContentIndex
/.vs
/.gitignore
/articles/aks/.vs/aks/FileContentIndex
/articles/aks/.vs/slnx.sqlite
/.gitignore
/.gitignore
/articles/aks/.vs/aks/v17
/.gitignore
/.gitignore
*.json
